In [1]:
import pandas as pd

In [3]:
data = {
    "salary": [100, 200, 300, 400, 500],
    "age": [25, 30, 35, 40, 45]
}

df  = pd.DataFrame(data)
print(df)

   salary  age
0     100   25
1     200   30
2     300   35
3     400   40
4     500   45

In [6]:
print(df.iloc[0])
print(df.loc[0])

salary    100
age        25
Name: 0, dtype: int64
salary    100
age        25
Name: 0, dtype: int64

In [9]:
print(df.loc[[0,1]])

   salary  age
0     100   25
1     200   30

In [11]:
data1 = {
    "age" : [43,12,33],
    "name" :['JK','FK','JF']
}

df1 = pd.DataFrame(data1 , index=['person 1' , 'person 2'  , 'person 3'])

print(df1)

          age name
person 1   43   JK
person 2   12   FK
person 3   33   JF

In [12]:
print(df1.loc['person 2'])

age     12
name    FK
Name: person 2, dtype: object

In [15]:
series1 = [1,6,9,3]

s = pd.Series(series1)
s

0    1
1    6
2    9
3    3
dtype: int64

In [16]:
series2 = pd.Series([6,'sddf',8,2,7,'fth'])
series2

0       6
1    sddf
2       8
3       2
4       7
5     fth
dtype: object

In [21]:
data2 = {
    "id" : [5,8,3,1],
    "name": ['JF','FK','JT','TJ']
    }

series3 = pd.Series(data2)
print(series3)

id          [5, 8, 3, 1]
name    [JF, FK, JT, TJ]
dtype: object

In [28]:
data3 = { 1 : "JK", 23 : "FK", 45 : "JF", '67' : "TJ"
    }

series4 = pd.Series(data3)
print(series4)

1     JK
23    FK
45    JF
67    TJ
dtype: object

In [30]:
print(series4['67'])

TJ

In [31]:
data4 = {
  "Duration":{
    "0":60,
    "1":60,
    "2":60,
    "3":45,
    "4":45,
    "5":60
  },
  "Pulse":{
    "0":110,
    "1":117,
    "2":103,
    "3":109,
    "4":117,
    "5":102
  },
  "Maxpulse":{
    "0":130,
    "1":145,
    "2":135,
    "3":175,
    "4":148,
    "5":127
  },
  "Calories":{
    "0":409,
    "1":479,
    "2":340,
    "3":282,
    "4":406,
    "5":300
  }
}

df3 = pd.DataFrame(data4)

print(df3)

   Duration  Pulse  Maxpulse  Calories
0        60    110       130       409
1        60    117       145       479
2        60    103       135       340
3        45    109       175       282
4        45    117       148       406
5        60    102       127       300

In [33]:
data3 = {
    "Joshi" : {
        "0" : 123,
        "1" : 456,
        "2" : 789
    },
    "Karan" : {
        "0" : 2323,
        "1" : 412356,
        "2" : 7389
    },
    "Felix" : {
        "0" : 13523,
        "1" : 44556,
        "2" : 77789
    }
}

df4 = pd.DataFrame(data3)
print(df4)

   Joshi   Karan  Felix
0    123    2323  13523
1    456  412356  44556
2    789    7389  77789